@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>I'll be working towards several projects during the next 30 days. the important thing is that I will try to commit every day.</p>
</div>
