@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Spending a lot of time away from a computer </p>
    <p>I'll be working towards several projects during the next 30 days. the important thing is that I will try to commit every day.</p>
    <p>Making a commit to ensure I make a commit today</p>
</div>
