@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>I'll be working towards several projects during the next 30 days. the important thing is that I will try to commit every day.</p>
    <p>Commits will be sparse for a couple days, but I intend to be doing daily projects from my asp.net book</p>
</div>