@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>I'll be working towards several projects during the next 30 days. the important thing is that I will try to commit every day.</p>
</div>